
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model iSOL_Enterprise.Models._usersModels
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("Name")" id="sessionName" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("Email")" id="sessionEmail" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("RoleCode")" id="UserRoleCode" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("DepartmentCode")" id="_DepartmentCode" />


<input type="hidden" value="@Context.Request.Query["Source"]" id="PageGuid" />
<input type="hidden" value="" id="TicCode" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId")" id="_UserId" />
<title>User Master</title>


<div class="container">
    <!--begin::Card-->
    <div class="card card-custom card-sticky" id="kt_page_sticky_card">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    Add Details
                    <i class="mr-2"></i>
                    <!-- <small class="">try to scroll the page</small> -->
                </h3>
            </div>
            <div class="card-toolbar">
                <a onclick="Back_his()" class="btn btn-light-primary font-weight-bolder mr-2">
                    <i class="ki ki-long-arrow-back icon-sm"></i>Back
                </a>
                <div class="btn-group">
                    
                    <button type="button" class="btn btn-primary font-weight-bolder" id="btnSaveData">
                        <i class="ki ki-check icon-sm"></i>Save
                    </button>

                </div>
            </div>
        </div>
        <div class="card-body">
            <form autocomplete="off" role="form" id="F_@Context.Request.Query["Source"]" name="F_@Context.Request.Query["Source"]">
                <div class="form-body" id="HeaderForm">
                            <div class="row">
                                <div class="col-xl-2"></div>
                                <div class="col-xl-8">
                                   
                                    
                                    <input type="hidden" value="@Context.Request.Query["Id"]" id="Guid" />
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Old Password <span class="text-danger">*</span></label>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="input-group">

                                        <input type="text" autocomplete="off" id="OldPassword" name="OldPassword" class="form-control" placeholder="Password">
                                                <div class="input-group-prepend">
                                                    <span id="ShowPassword" rl="hide" class="input-group-text">
                                                        <i id="passwordEye" class="fa fa-eye-slash"></i>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">New Password <span class="text-danger">*</span></label>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="input-group">

                                                <input type="text" autocomplete="off" id="NewPassword" name="NewPassword" class="form-control" placeholder="New Password">
                                                <div class="input-group-prepend">
                                                    <span id="ShowPassword" rl="hide" class="input-group-text">
                                                        <i id="passwordEye" class="fa fa-eye-slash"></i>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Confirm Password <span class="text-danger">*</span></label>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="input-group">

                                                <input type="text" autocomplete="off" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                                <div class="input-group-prepend">
                                                    <span id="ShowPassword" rl="hide" class="input-group-text">
                                                        <i id="passwordEye" class="fa fa-eye-slash"></i>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-2"></div>
                            </div>


                        </div>

                       

                    </form>
        </div>
    </div>
</div>
<script src="~/Assets/plugins/global/plugins.bundle.js"></script>
<script src="~/Assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/Assets/js/scripts.bundle.js"></script>
<script src="~/js/commonmethods.js"></script>
<script>
    $(document).ready(function () {

        
    });

    $(document).on("keydown", "input", function () {
        $(this).removeClass('is-invalid');


    });

    $(document).on('click', '#btnSaveData', function (e) {

        $(this).addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $(this).attr('disabled', true);

        if (ValidateData("HeaderForm")) 
        {
            if ($("#NewPassword").val() === $("#ConfirmPassword").val())
                FormData();          
            else
            {
                toastr.warning("New & Confirm Password doesn't match");
                $(this).attr('disabled', false);
            }
        }
        else {
            $(this).removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
            $(this).attr('disabled', false);
        }
    });
    function FormData() {


        var data =
        {
            HeaderData: getJsonObj("HeaderForm"),            
        }

        PostData(data);

    }

    function PostData(formData) 
    {
        let Guid = $('#Guid').val();
        let URL = '/Users/ChangePassword';
        
        return $.ajax({
            url: URL,
            dataType: 'json',
            type: 'POST',

            data: { formData: JSON.stringify(formData) },

            success: function (result) {
                console.log(result);
                if (result.isInserted) {
                    toastr.success(result.message);

                    setTimeout(
                        function () {

                            $('#btnSaveData').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                            $('#btnSaveData').attr('disabled', false);

                        }, 800);
                    setTimeout(function () {
                        window.history.back();
                    }, 800);


                }

                if (!(result.isInserted)) {
                    toastr.error(result.message);
                    $('#btnSaveData').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $('#btnSaveData').attr('disabled', false);

                }

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {

        });
    }

    $(document).on('click', '#ShowPassword', function () {

        var asd = $('#ShowPassword').attr('rl');
        if ($('#ShowPassword').attr('rl') == 'hide') {

            $('#ShowPassword').attr('rl', 'show');
            $('#Password').attr('type', 'text');
            $('#passwordEye').removeClass('fa-eye-slash');
            $('#passwordEye').addClass('fa-eye');
        }
        else {
            $('#ShowPassword').attr('rl', 'hide');
            $('#Password').attr('type', 'Password');
            $('#passwordEye').addClass('fa-eye-slash');
            $('#passwordEye').removeClass('fa-eye');
        }

    })

    



</script>
