
@{
    ViewData["Title"] = "UserMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model iSOL_Enterprise.Models._usersModels
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "UserMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("Name")" id="sessionName" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("Email")" id="sessionEmail" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("RoleCode")" id="UserRoleCode" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("DepartmentCode")" id="_DepartmentCode" />

<input type="hidden" value="@Context.Request.Query["Id"]" id="Guid" />
<input type="hidden" value="@Context.Request.Query["Source"]" id="PageGuid" />
<input type="hidden" value="" id="TicCode" />
<input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId")" id="_UserId" />
<title>User Master</title>


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
                <div class="kt-portlet__head kt-portlet__head--lg" style="">
                    <div class="kt-portlet__head-label">
                        <h3 id="heading" class="kt-portlet__head-title">Add</h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">

                        <button id="btnBack" class="btn btn-clean kt-margin-r-10 ">
                            <i class="la la-arrow-left"></i>
                            <span class="kt-hidden-mobile ">Back</span>
                        </button>
                        <button id="btnSave" class="btn btn-brand kt-margin-r-10 ">
                            <i class="la la-check"></i>
                            <span id="SpanBtnSave" class="kt-hidden-mobile ">Save</span>
                        </button>
                        <button id="kt_quick_panel_close_btn" class=" btn btn-secondary ">
                            <i class="la la-close"></i>

                            Cancel
                        </button>


                    </div>
                </div>
                <div class="kt-portlet__body">
                    <form autocomplete="off" role="form" id="F_@Context.Request.Query["Source"]" name="F_@Context.Request.Query["Source"]">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-xl-2"></div>
                                <div class="col-xl-8">
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Avatar</label>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="kt-avatar kt-avatar--outline" id="kt_user_add_avatar">
                                                <div id="useridimage" class="kt-avatar__holder" style="background-image: url()"></div>
                                                <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="Change avatar">
                                                    <i class="fas fa-pen"></i>
                                                    <input type="file" name="kt_user_add_user_avatar">
                                                </label>
                                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="Cancel avatar">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">First Name <span class="kt-font-danger">*</span> </label>
                                        <div class="col-lg-6 col-xl-6">
                                            <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Last Name</label>
                                        <div class="col-lg-6 col-xl-6">
                                            <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Contact No</label>
                                        <div class="col-lg-6 col-xl-6">
                                            <input type="text" id="UContactNumber" name="UContactNumber" class="form-control" placeholder="Contact No">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Role <span class="kt-font-danger">*</span> </label>
                                        <div class="col-lg-6 col-xl-6">
                                            <select id="RoleCode" name="RoleCode" class="form-control" style="width:100%;">
                                                <option value="" disabled selected>Select User</option>
                                                @foreach (var item in Model.ListRoles)
                                                {
                                                    <option value="@item.RoleCode"> @item.RoleName </option>
                                                }
                                            </select>
                                        </div>
                                    </div>


                                    

                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Email<span class="kt-font-danger">*</span></label>
                                        <div class="col-lg-6 col-xl-6">
                                            <input type="text" autocomplete="off" id="Email" name="Email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                    <label class="col-xl-2 col-lg-2 col-form-label">Username</label>
                                    <div class="col-lg-6 col-xl-6">
                                    <input type="text" autocomplete="off" id="Username" name="Username" class="form-control" placeholder="Username">
                                    </div>
                                    </div>*@

                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Password<span class="kt-font-danger">*</span></label>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="input-group">

                                                <input type="text" autocomplete="off" id="Password" name="Password" class="form-control" placeholder="Password">
                                                <div class="input-group-prepend">
                                                    <span id="ShowPassword" rl="hide" class="input-group-text">
                                                        <i id="passwordEye" class="fa fa-eye-slash"></i>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">Is Active</label>
                                        <span id="IsActiveSpan" aria-required="true"></span>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="form-group check">
                                                <div class="mt-checkbox-inline">
                                                    <label class="mt-checkbox mt-checkbox-outline ">
                                                        <input type="checkbox" id="IsActive" name="IsActive" />
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-xl-2"></div>
                            </div>


                        </div>

                        @*<div class="form-actions">
                        <button id="btnSave" type="button" class="btn blue mt-ladda-btn ladda-button" data-style="expand-left" data-spinner-color="#333">
                        <span id="SpanBtnSave" class="ladda-label">Save</span>

                        <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="false"></span>

                        <span class="sr-only">Loading...</span>
                        </button>
                        <button type="button" class="btn default" id="btnCancel">Cancel</button>
                        </div>*@

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function initAvatar() {
        avatar = new KTAvatar('kt_user_add_avatar');
    }

    $(document).on('click', '#btnBack', function () {
        window.history.back();

    })



    $(document).on('click', '#btnSave', function () {
        $(this).addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $(this).attr('disabled', true);
        Validation();

    })

    $(document).on('click', '#btnSaveBack', function () {

        $(this).addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $(this).attr('disabled', true);
        Validation();

    })

    $(document).on('click', '#ShowPassword', function () {

        var asd = $('#ShowPassword').attr('rl');
        if ($('#ShowPassword').attr('rl') == 'hide') {

            $('#ShowPassword').attr('rl', 'show');
            $('#Password').attr('type', 'text');
            $('#passwordEye').removeClass('fa-eye-slash');
            $('#passwordEye').addClass('fa-eye');
        }
        else {
            $('#ShowPassword').attr('rl', 'hide');
            $('#Password').attr('type', 'Password');
            $('#passwordEye').addClass('fa-eye-slash');
            $('#passwordEye').removeClass('fa-eye');
        }

    })

    $(document).ready(function () {

        $('#IsActive').prop('checked', true);
        RecordLogs('Role', 'Open Add New User Form');
        Guid = $('#Guid').val();
        if (Guid != null && Guid != '' && Guid != undefined) {
            $('#heading').text('Edit Uset');
            $('#SpanBtnSave').text('Save & Back');
            GetUserData();
        }

        initAvatar();


        //$.getJSON('https://api.db-ip.com/v2/free/self', function (data) {
        //    console.log(JSON.stringify(data));
        //});
    });

    function Validation() {

        xflag = [];
        isvalid = null

        toastr.remove();
        xflag.push(mandatoryValidate('#FirstName', 'First Name'));
        xflag.push(mandatoryWithAlphaValidate('#FirstName', 'First Name'));

        xflag.push(mandatoryWithAlphaValidate('#LastName', 'Last Name'));

        xflag.push(mandatoryWithIntavlidate('#UContactNumber', 'Contact No'));

        xflag.push(mandatoryValidate('#RoleCode option:selected', 'Role'));

        xflag.push(mandatoryValidate('#URegionCode option:selected', 'Region'));

        xflag.push(mandatoryValidate('#Email', 'Email'));

        xflag.push(validEmail('#Email', 'Email'));

        xflag.push(mandatoryValidate('#Password', 'Password'));

        for (var i = 0; i < xflag.length; i++) {
            if (xflag[i] == true) {
                isvalid = false;
            }
        }
        if (isvalid != false) {

            if (Guid != null && Guid != '' && Guid != undefined) {
                Edit()
            } else {
                Add();

            }

        } else {
            setTimeout(
                function () {

                    $('#btnSave').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $('#btnSave').attr('disabled', false);

                }, 800);
        }


    }

    function GetUserData() {

        return $.ajax({
            url: '/Users/GetData',
            dataType: 'json',
            data: { id: $('#Guid').val() },
            type: 'Post',
            success: function (result) {

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }


        }).done(function (result) {
            result = result.data;
            RecordLogs('Users', 'View User');
            populateUserData(result)
        });
    }

    function populateUserData(data) {

        RecordLogs('Users', 'View User');

        $('#Email').attr('disabled', true);

        $('#FirstName').val(data.firstName);
        $('#LastName').val(data.lastName);
        $('#UContactNumber').val(data.contactNumber);

        $('#RoleCode').val(data.roleCode);
        $('#Email').val(data.email);
        $('#Password').val(data.password);
        $('#USuperiorCode').val(data.superiorId);
        $('#URegionCode').val(data.regionCode);
        $('#IsActive').prop(data.isactive);

        var str = data.userPic.replace("\\", "/");
        $('#useridimage').css('background-image', 'url("/' + str + '")');

    }

    function ClearForm() {

        $('#FirstName').val('');
        $('#LastName').val('');
        $('#UContactNumber').val('');
        $('#RoleCode').val('');
        $('#Email').val('');
        $('#Password').val('');
        $('#USuperiorCode').val('');
        $('#URegionCode').val('');
        $('#IsActive').prop('checked', true);

        var str = '';
        $('#useridimage').css('background-image', 'url("/' + str + '")');
    }

    function Add() {

        return $.ajax({
            url: '/Users/Add',
            dataType: 'json',
            data: UserFormData(),
            type: 'Post',
            success: function (result) {

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {
            if (result.isInserted) {

                toastr.success(result.message);
                // ClearForm();
                setTimeout(function () {
                    $('#btnSave').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                }, 500);
                $('#btnSave').attr('disabled', false);
                ClearForm();
                RecordLogs('Users', 'Add User');

            }
            if (result.isError) {
                toastr.error(result.message);
                $('#btnSave').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                $('#btnSave').attr('disabled', false);

            }
        });
    }

    function Edit() {

        return $.ajax({
            url: '/Users/Edit',
            dataType: 'json',
            data: UserFormData(),
            type: 'Post',
            success: function (result) {

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {
            if (result.isInserted) {

                toastr.success(result.message);
                //ClearForm();
                setTimeout(function () {
                    $('#btnSave').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                }, 500);
                $('#btnSave').attr('disabled', false);
                setTimeout(function () {
                    window.history.back();
                }, 800);
                RecordLogs('Users', 'Edit User');


            }
            if (result.isError) {
                toastr.error(result.message);
                $('#btnSave').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                $('#btnSave').attr('disabled', false);

            }
        });
    }

    function UserFormData() {
        var myString;

        var PrfilePicBased64 = $('#useridimage').css('background-image');
        if (PrfilePicBased64 != null && PrfilePicBased64 != '' && PrfilePicBased64 != undefined) {

            myString = PrfilePicBased64.substr(PrfilePicBased64.indexOf("data:image") + 0);//remove all before `data:image`
            myString = myString.replace('")', '');
            myString = myString.replace(')', '');

        }

        var formdata = {

            UserPic: myString,
            Id: $('#Guid').val(),
            FirstName: $('#FirstName').val(),
            LastName: $('#LastName').val(),
            ContactNumber: $('#UContactNumber').val(),
            RoleCode: $('#RoleCode option:selected').val(),
            Email: $('#Email').val(),
            Username: $('#Username').val(),
            Password: $('#Password').val(),
            IsActive: $('#IsActive').prop('checked'),
            SuperiorId: $('#USuperiorCode option:selected').val(),
            RegionCode: $('#URegionCode option:selected').val(),
        }
        return formdata;
    }



</script>
