@{
    ViewBag.title1 = "Inventory Transfer Request / ";
    ViewBag.title2 = "Add";
    ViewData["Title"] = "InventoryTransferRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
@model iSOL_Enterprise.Models.RoleModels

@using Microsoft.AspNetCore.Http

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!-- Render Body <Start> -->
    <script src="~/Assets/plugins/global/plugins.bundle.js"></script>
<script src="~/Assets/js/scripts.bundle.js"></script>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom card-sticky" id="kt_page_sticky_card">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        Add Details
                        <i class="mr-2"></i>
                        <!-- <small class="">try to scroll the page</small> -->
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a onclick="Back_his()" class="btn btn-light-primary font-weight-bolder mr-2">
                        <i class="ki ki-long-arrow-back icon-sm"></i>Back
                    </a>
                       <div class="btn-group">
                        
                        <button type="button" class="btn btn-primary font-weight-bolder" id="btnSaveData">
                            <i class="ki ki-check icon-sm"></i>Save
                        </button>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <!--begin::Form-->
                <form class="form" id="kt_form">


                    <input type="hidden" value="@Context.Session.GetString("Name")" id="sessionName" />
                    <input type="hidden" value="@Context.Session.GetString("Email")" id="sessionEmail" />
                    <input type="hidden" value="@Context.Session.GetString("RoleCode")" id="UserRoleCode" />
                    <input type="hidden" value="@Context.Session.GetString("DepartmentCode")" id="_DepartmentCode" />

                    <input type="hidden" value="@Context.Request.Query["Id"]" id="Guid" />
                    <input type="hidden" value="@Context.Request.Query["Source"]" id="PageGuid" />
                    <input type="hidden" value="@Context.Request.Query["DocType"]" id="DocType" />
                    <input type="hidden" value="@Context.Request.Query["DOM"]" id="DOMStatus" />

                    <input type="hidden" value="@Context.Session.GetInt32("UserId")" id="_UserId" />
                    <style>
                        .mr2 {
                            margin: 0% 2% 0% 2%;
                            /*width: 5%;*/
                        }

                        .cr2 {
                            margin: 0% 1% 0% 0%;
                            width: 5%;
                        }

                        .wdth {
                            width: 250% !important;
                        }

                        /*tr > th {
                            text-align: left;
                            width: 50px !important;
                        }
                        table {
                           display: table-cell;
                            text-align:center;
                            overflow-x: auto;
                            white-space: nowrap;
                        }

                        tr > td {
                            text-align: center;
                            width: 5% !important;
                        }*/
                        #kt_repeater_1 {
                            border-collapse: collapse;
                            width: 100%;
                            overflow-x: scroll;
                            display: block;
                        }

                        .ScrollThead,
                        .ScrollTbody {
                            display: inline-block;
                        }

                        .ScrollTbody {
                            overflow-y: auto;
                            overflow-x: hidden;
                            max-height: 300px;
                        }

                            .ScrollTbody td, .ScrollThead
                            th {
                                min-width: 160px;
                                max-width: 160px;
                                height: 40px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                        .ScrollTbody2 td, .ScrollThead2
                        th {
                            min-width: 100px;
                            max-width: 160px;
                            height: 40px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .BatchTableContainer {
                            max-height: 330px;
                           /* margin-bottom: 10px;*/
                            overflow-x: hidden;
                            overflow-y: scroll;
                            -webkit-overflow-scrolling: touch;
                            /*border: 1px solid lightgrey;*/
                        }

                        .scrollbar-ripe-malinka::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                            background-color: #F5F5F5;
                            border-radius: 10px;
                        }

                        .scrollbar-ripe-malinka::-webkit-scrollbar {
                            width: 0.5rem;
                            background-color: #F5F5F5;
                        }

                        .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                            background-image: -webkit-linear-gradient(330deg, #808080 0%, #808080 100%);
                            background-image: linear-gradient(120deg, #808080 0%, #808080 100%);
                        }
                    </style>
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--begin::Portlet-->
                                <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">

                                    <div class="kt-portlet__body">
                                        <form autocomplete="off" role="form" class="kt-form" id="F_@Context.Request.Query" name="F_@Context.Request.Query["Source"]">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="kt-section kt-section--first">
                                                        <div class="kt-section__body">


                                                            @* ----------   Header -----------*@
                                                            <div id="HeaderForm">
                                                                <div class="form-group row">

                                                                     <div class="col-md-6">
                                                                        <label>Business Partners</label>
                                                                        @*<input disabled type="text" class="form-control form-control-sm" >*@

                                                                        <div class="input-group">
                                                                            <input type="text" id="CardCode" class="form-control form-control-sm" placeholder="Business Partners" aria-describedby="basic-addon2">
                                                                            <div id="CustomerNo" class="input-group-append">
                                                                                <span class="input-group-text">
                                                                                    <i class="la la-search"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>

                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>


                                                                    <div class="col-md-6">
                                                                            <label>Numbering Series</label> 
                                                                      <div class="d-flex">
                                                                            <select id="MySeries" class="form-control form-control-sm col-md-3">
                                                                                @foreach (iSOL_Enterprise.Models.Series.tbl_NNM1 i in ViewBag.MySeries)
                                                                                {                                                                                            
                                                                                                    <option guid="@i.BeginStr" value="@i.Series">@i.SeriesName </option>                                                                                            
                                                                                }
                                                                                        <option value="-1" selected>Manual</option>   
                                                                            </select>
                                                                                    &nbsp;&nbsp;                                                                            
                                                                            <input type="text" id="DocNum" class="col-md-5 form-control form-control-sm">
                                                                                    &nbsp;&nbsp;
                                                                            <select id="Series"
                                                                                class="form-control form-control-sm col-md-3">
                                                                                @foreach (iSOL_Enterprise.Models.Sale.tbl_series i in ViewBag.Series)
                                                                                {                                                                                            
                                                                                                    <option value="@i.Series">@i.SeriesName </option>                                                                                            
                                                                                }
                                                                                        @*<option value="-1" selected>Manual</option>   *@
                                                                            </select> 
                                                                        </div>
                                                                        </div>

                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-md-6">
                                                                        <label>Name</label>  
                                                                        <input id="CardName" type="text" readonly class="form-control form-control-sm" placeholder="Name">

                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>Posting Date</label>
                                                                        <input id="DocDate" type="date" class="d form-control form-control-sm" placeholder="Posting Date">
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                </div> 
                                                                <div class="form-group row">
                                                                    <div class="col-md-6">
                                                                        <label>Contact Person</label>
                                                                        <select class=" form-control kt-select2 ItemCode NotReq " id="CntcCode" name="param">

                                                                            <!-- @* @foreach (var item in Model.ListItemMaster)
                                                                             {
                                                                                 <option value="@item.ItemCode">@item.FrgnName @item.ItemName </option>
                                                                             }*@ -->
                                                                        </select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                    <div class="col-md-6">  
                                                                        <label>Address</label>
                                                                        <textarea id="Address"  class="form-control form-control-sm" rows="3" cols="3"></textarea>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div> 
                                                                    <div class="col-md-6">
                                                                        <label>Due Date</label>
                                                                        <input id="DocDueDate" type="date" class="d form-control form-control-sm" placeholder="Document Due Date">
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                </div>  
                                                                 
                                                                <div class="form-group row">
                                                                    <div class="col-md-6">
                                                                        <label>Price List</label> 
                                                                        <select id="GroupNum" asp-items="@ViewBag.GroupNum" class="form-control form-control-sm">
                                                                        </select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div> 
                                                                     <div class="col-md-6">
                                                                        <label>Document Date</label>
                                                                        <input id="TaxDate" type="date" class="d form-control form-control-sm" placeholder="Document Date">
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>  
                                                                                                                                      
                                                                </div>  

                                                                <div class="form-group row">
                                                                    <div class="col-md-6">
                                                                        <label>From Warehouse</label>
                                                                        <select class="form-control Warehousedata" id="Filler"></select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>To Warehouse</label> 
                                                                        <select class="form-control Warehousedata" id="ToWhsCode"></select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>


                                                                </div>  
                                                                <div class="form-group row">
                                                                    <div class="col-md-6">
                                                                        <label>Purchase Type</label>
                                                                        <select id="PurchaseType" class="form-control form-control-sm NotReq">
                                                                            <option value="0"> Order Base</option>
                                                                            <option value="1"> General</option>
                                                                        </select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>Type Detail</label>
                                                                        <select id="TypeDetail" class="form-control form-control-sm NotReq">
                                                                            <option value="">Select Type Detail</option>
                                                                            <option value="01">Accessories</option>
                                                                            <option value="02"> Yarn</option>
                                                                            <option value="03"> IT</option>
                                                                            <option value="04"> General</option>
                                                                            <option value="05"> Engineering</option>
                                                                            <option value="06"> Weaving</option>
                                                                            <option value="07"> Dyeing</option>
                                                                            <option value="08"> Stiching</option>
                                                                            <option value="09"> Fabric</option>
                                                                            <option value="10"> Embroidery</option>
                                                                            <option value="11"> Cartage Expense</option>
                                                                            <option value="12"> Rolling</option>
                                                                            <option value="13"> Shearing</option>
                                                                            <option value="14"> Quilting</option>
                                                                            <option value="15"> Starching</option>
                                                                            <option value="16"> Printing</option>
                                                                            <option value="17"> Washing</option>
                                                                            <option value="18"> Seersucker</option>
                                                                            <option value="19"> Sanforized</option>
                                                                            <option value="20"> Die Cutting</option>
                                                                        </select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">

                                                                    <div class="col-md-6">
                                                                        <label>Production Order #</label>
                                                                        <input id="ProductionOrderNo" type="number" class="form-control form-control-sm NotReq">
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>Challan #</label>
                                                                        <input id="ChallanNo" type="number" class="form-control form-control-sm NotReq">
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group row">

                                                                    <div class="col-md-6">
                                                                        <label>DO #</label>
                                                                        <input id="DONo" type="number" class="form-control form-control-sm NotReq">
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>Sale Order #</label>
                                                                        <div class="input-group">
                                                                            <input type="text" id="SalesOrderCode" name="OriginNum" class="form-control form-control-sm " placeholder="Sales Order Number" aria-describedby="basic-addon2" readonly>
                                                                            <div id="SalesOrderNo" class="input-group-append">
                                                                                <span class="input-group-text">
                                                                                    <i class="la la-search"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                        @*<label>Sale Order #</label>
                                                                        <select id="SaleOrderNo" class="form-control form-control-sm NotReq">
                                                                        </select>
                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>*@
                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>



                                                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" data-toggle="tab" href="#kt_tabs_contents" role="tab">Contents</a>
                                                                </li> 
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#kt_tabs_attachment" role="tab">Attachment</a>
                                                                </li>

                                                            </ul>
                                                            <div class="tab-content">

                                                                <div class="tab-pane active" id="kt_tabs_contents" role="tabpanel">




                                                                    <div id="kt_tabs_5_1">
                                                                        <table id="kt_repeater_1" style="overflow:auto">
                                                                            <thead class="ScrollThead">
                                                                                <tr>
                                                                                    @*<th>BaseRef</th>
                                                                                    <th>BaseEntry</th>
                                                                                    <th>BaseLine</th>*@
                                                                                    <th>Item No.</th>
                                                                                    <th>Item Description</th>
                                                                                    <th>From Warehouse</th>
                                                                                    <th>Qty in Warehouse</th>
                                                                                    <th>To Warehouse</th>
                                                                                    <th>Quantity</th>     
                                                                                    <th class="d-none">Item Cost</th>
                                                                                    <th>UOM Code</th>
                                                                                    <th class="d-none">BaseQty</th>
                                                                                    <th class="d-none">OpenQty</th>
                                                                                    @*<th>Country / Region of origin</th>*@
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="ListParameters" data-repeater-list="" class="ScrollTbody">
                                                                                <!-- @*<tr class="rowItemDetail">*@ -->
                                                                                <tr class="rowItemDetail align-items-center itm" >
                                                                                    <td style="display:none;">
                                                                                        <input id="BaseRef"  name="BaseRef" readonly class="form-control form-control-sm NotReq">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td style="display:none;">
                                                                                        <input id="BaseEntry" name="BaseEntry" readonly class="form-control form-control-sm NotReq">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td style="display:none;">
                                                                                        <input id="BaseLine" name="BaseLine" readonly class="form-control form-control-sm NotReq">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="input-group">
                                                                                            <input id="ItemCode" name="ItemCode" type="text" class="form-control form-control-sm" placeholder="Item No." aria-describedby="basic-addon2">
                                                                                            <div id="Itemno" class="input-group-append">
                                                                                                <span class="input-group-text">
                                                                                                    <i class="la la-search"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input id="ItemName" name="ItemName" class="form-control form-control-sm"  type="text">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>

                                                                                    <td>
                                                                                     

                                                                                        
                                                                                        <div class="input-group">
                                                                                            <select class="form-control FromWarehouse" id="Warehouse" name="Warehouse">
                                                                                            </select>
                                                                                            
                                                                                        </div> 
                                                                                    

                                                                                    </td>
                                                                                             <td>
                                                                                        <div class="input-group">

                                                                                            <div id="ListbtnSelectBatch" class="input-group-append d-none">
                                                                                                <span class="input-group-text">
                                                                                                    <i class="la la-warehouse"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                            <input id="onHand" name="onHand" class="form-control form-control-sm" readonly type="number">
                                                                                        </div>
                                                                                                <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                            </td>

                                                                                    <td> 
                                                                                        <select class="form-control Warehousedata ToWarehouse" id="WhsCode" name="WhsCode">
                                                                                            </select>
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td> 
                                                                                    <td>
                                                                                        <input class="form-control form-control-sm" id="QTY" name="QTY" type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td class="d-none">
                                                                                        <input class="form-control form-control-sm NotReq" id="ItemCost" name="ItemCost" type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                       <select class="form-control " id="UomEntry" name="UomEntry"> </select><input id="UomCode" name="UomCode" class="position-absolute d-none"/>
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td> 
                                                                                    <td class="d-none">
                                                                                        <input readonly class="form-control form-control-sm NotReq" id="BaseQty" name="BaseQty"  type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td class="d-none">
                                                                                        <input readonly class="form-control form-control-sm NotReq" id="OpenQty"  name="OpenQty" type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div style="margin-top:1%" class="form-group form-group-last row">
                                                                            <div class="col-md-6">
                                                                                <button type="button" id="ListBtnAddd" data-repeater-create="" class="btn btn-light-primary font-weight-bold btn-sm">
                                                                                    <i class="la la-plus"></i> Add
                                                                                </button>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                </div>



                                                                <div class="tab-pane" id="kt_tabs_attachment" role="tabpanel">




                                                                    <table id="kt_repeater_3" style="overflow:auto">
                                                                        <thead class="ScrollThead2">
                                                                            <tr>
                                                                                <th>TargetPath</th>
                                                                                <th>FileName</th>
                                                                                <th>AttachmentDate</th>
                                                                                <th></th>
                                                                                <th></th>   
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="ListParameters3" data-repeater-list="" class="ScrollTbody2">
                                                                            <tr class="rowItemDetail align-items-center itm">

                                                                                <td>
                                                                                    <input readonly type="file" id="selectedFile" class="position-absolute d-none form-control form-control-sm">
                                                                                    <input id="selectedFilePath" class="form-control form-control-sm">
                                                                                    <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                </td>
                                                                                <td>
                                                                                    <input readonly id="selectedFileName" class="form-control form-control-sm">
                                                                                    <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                </td>
                                                                                <td>
                                                                                    <input readonly id="selectedFileDate" type="date" class="form-control form-control-sm">
                                                                                    <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                </td>
                                                                                <td>
                                                                                    <button id="btnbrowseFile" type="button" class="btn btn-light-primary font-weight-bold btn-sm"> <i class="la la-plus"></i> Browse </button>

                                                                                </td>


                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                     <div style="margin-top:1%" class="form-group form-group-last row">
                                                                            <div class="col-md-6">
                                                                                <button type="button" id="ListBtnAddFile" data-repeater-create="" class="btn btn-light-primary font-weight-bold btn-sm">
                                                                                    <i class="la la-plus"></i> Add
                                                                                </button>

                                                                                <!-- <button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Setup login verification</button> -->


                                                                            </div>
                                                                        </div>





                                                                </div>

                                                            </div>
                                                        </div>




                                                        <div class="container" id="FooterData">
                                                            <br />
                                                            <br />                                                                                                                  
                                                            <br />

                                                             <div class="row"> 
                                                                <div class="col-md-6">
                                                                    <label for="inputRemarks" class="form-label">Sales Employee</label>
                                                                    <select id="SlpCode" asp-items="@ViewBag.SalesEmployee" class="form-control form-control-sm">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                                  <br/>
                                                            <div class="row">

                                                                <div class="col-md-6">
                                                                    <label for="inputRemarks" class="form-label">Journal Remarks</label>
                                                                    <textarea id="JrnlMemo" class="form-control" rows="3"></textarea>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="inputRemarks" class="form-label">Remarks</label>
                                                                    <textarea id="Comments" class="form-control" rows="3"></textarea>
                                                                </div>
                                                            </div>

                                                            <hr />
                                                        </div>






                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--end::Portlet-->
                            </div>
                        </div>
                    </div>





                    <div class="modal fade" id="DefectPic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Defect Pic</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img style="width:765px" id="DefecPicUrl" src="">
                                </div>

                            </div>
                        </div>
                    </div>





                </form>
                <!--end::Form-->
            </div>
        </div>
        <!--end::Card-->

    </div>
    <!--end::Entry-->
</div>
<!-- Render Body <End> -->
<script src="~/Assets/plugins/global/plugins.bundle.js"></script>
<script src="~/Assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/Assets/js/scripts.bundle.js"></script>
<script src="~/js/CommonMethods.js"></script>
<script src="~/viewjs/batches/batchesout.js"></script>

<script>
    let RowIndex = 0;
    function GetWareHouseDataThroughClass() {
    
    return $.ajax({
        url: 'Delivery/GetWareHouseData',
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function (data) {

            const ii = document.querySelectorAll('.Warehousedata');
            for (const i of ii) {                          
            $.each(data, function () {
                i.innerHTML += "<option  value='" + this.whscode + "'>" + this.whsname + "</option>";                             
            });
            }
        },
        error: function (jqXhr, textStatus, errorMessage) {
            console.log(errorMessage);
        }
    });

    } 

    function Filler(){
    
        
        $('#ListParameters .itm').each(function () {
            $(this).find('select').each(function (index, data) {
               if($(this).attr('name') == "Warehouse")       
                   $(this).val($('#Filler').val()).trigger('change');
            
            });
        });
    }
    function ToWhsCode(){
    
        $('#ListParameters .itm').each(function () {
            $(this).find('select').each(function (index, data) {
               if($(this).attr('name') == "WhsCode")
                    $(this).val($('#ToWhsCode').val()).trigger('change');
            
            });                
        });
    }

    
  
    var WareHouseData = "";
    var ItemServiceType = '1';
    const boxes = document.querySelectorAll('.d');

    for (const box of boxes) {
        box.value = new Date().toJSON().slice(0, 10);
    }



    $(document).on('click', '#GLAccountNo', function (e) {

        ObjAcctCode = $(this).closest('tr').find("#AcctCode");
        //var GLAccount = $(this).closest('#ListParameters2 .itm').find('#GLAccountNo');
        generateAccountTable();
        $('#myaccountModal').modal('show');
        console.log("Clickeddd")

    });
    $(document).on('change', '#MySeries', function () {
        if ($(this).val() == -1) {

            $('#DocNum').attr("readonly", false);
            $('#DocNum').val("");
        }
        else {
            $('#DocNum').attr("readonly", true);

            return $.ajax({
                url: '/ItemMasterData/GetNewItemCode',
                dataType: 'json',
                type: 'Get',

                data: { Series: $(this).val() },

                success: function (result) {

                    if (result.success) {

                        $('#DocNum').val(result.itemCode);

                    }

                    if (!(result.success)) {
                        toastr.error("An error occured while getting DocNum");

                    }

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log(errorMessage);
                }

            }).done(function (result) {

            });
        }
    })


    function Edit_GetUomGroup() {   //For Uom Dropdown options

        $('#ListParameters .itm').each(function (index, item) {

            ObjItemCode = $(this).closest('tr').find("#ItemCode");
            let itemno = $(this).find("#ItemCode").val();

            console.log(itemno);
            DocModule = "S";
            if (itemno != "" && itemno != null) { GetUomGroup(itemno); }


        });
    }
    

    $(document).on('click', '#btnbrowseFile', function (e) {

        console.log("brow");
        let selectedrow = $(this).closest('tr');
        var input = selectedrow.find("#selectedFile");

        input.click();
        //debugger
        input.change(function () {
            var SelectedFile = input.val()
            selectedrow.find("#selectedFileDate").val(new Date().toJSON().slice(0, 10));
            selectedrow.find("#selectedFilePath").val(SelectedFile);
            selectedrow.find("#selectedFileName").val(SelectedFile.replace(/^.*[\\\/]/, ''));

            // AddRowInFileTable();

        });


        //$(ObjItemCode)
    });
   

    function GetWareHouseData() {
        $.get("Delivery/GetWareHouseData", function (data) {


            $("#Warehouse").html("");

            $.each(data, function () {

                $("#Warehouse").append($('<option>', {
                    value: this.whscode,
                    text: this.whsname

                }));


                WareHouseData = WareHouseData + "<option  value='" + this.whscode + "'>" + this.whsname + "</option>";
            });

        });
    }

    $(document).on('click', '#Itemno', function (e) {
        IsHeader = false;
        ObjItemCode = $(this).closest('tr').find("#ItemCode");
        DocModule = "S";
        generateItemTable();
        $('#myItemModal').modal('show');

    });


    $(document).on('click', '#CustomerNo', function (e) {
        ObjCardCode = $(this);

        generateCustomerTable();
        $('#myCustModal').modal('show');

    });
    
    $(document).on('change keyup', '#QTY,#UPrc', function (e) {


        var Qty = $(this).closest('#ListParameters .itm').find('#QTY');
        var UPrc = $(this).closest('#ListParameters .itm').find('#UPrc');
        var TtlPrc = $(this).closest('#ListParameters .itm').find('#TtlPrc');
        var VatGroup = $(this).closest('#ListParameters .itm').find('#VatGroup');
        let onHand = $(this).closest('#ListParameters .itm').find('#onHand');

        var VatGuid = $('option:selected', VatGroup).attr("guid");
        let BaseQty = $(this).closest('#ListParameters .itm').find('#BaseQty');

        let _ItemCode = $(this).closest('#ListParameters .itm').find('#ItemCode').val()
        let _WhsCode = $(this).closest('#ListParameters .itm').find('#Warehouse').val()

        $.when(GetWhsAddedQty(_ItemCode, _WhsCode)).then(function (sum) {
            if (Qty.val() <= 0) {
                Qty.val("");
                toastr.warning("Quantity can't be 0");
            }


            if (!(sum <= onHand.val())) {
                Qty.val("");
                toastr.warning("Quantity can't be greater than Warehouse quantity");
            }
            //var Onepercent = parseFloat($(TtlPrc).val() / 100);

            //if (($(QTY).val() != null && $(UPrc).val() != null) || ($(QTY).val() != "" && $(UPrc).val() != "")) {
            //    $(TtlPrc).val(((parseFloat($(Qty).val()) * parseFloat($(UPrc).val()))).toFixed(2));

            //}

            GetPrice();


        });
    });
    
    $(document).on('click', '#RoundingChkBox', function (e) {

        if ($(this).is(":checked")) {
            $('#Rounding').removeAttr('readonly', 'readonly');
        }
        else {
            $('#Rounding').attr('readonly', 'readonly');
        }
    });
    $(document).on('click', '#SalesOrderNo', function (e) {

        generateSalesOrderTable();
        $('#mySalesOrderModal').modal('show');

    });

     +
    $(document).ready(function () {


        DocModule = "I";
        WareshouseChk = true;
        GetWareHouseDataThroughClass();        
        GetCurrencydata();
        GetWareHouseData();
        GetSaleOrders();

        var date = new Date;
        $('#DocDate').val(moment(date).format('YYYY-MM-DD'));
        $("#Filler").select2();
        $("#ToWhsCode").select2();
        InitializeWarehouseSelect2Event($('#ListParameters tr:last-child'));

          if ("@ViewBag.OldId" != 0) {
            OldId = "@ViewBag.OldId";
            isEdit = true;

            $(".btn-group").html('');
            $("#HeaderTitle2").text('View');
            $("#MySeries").attr('disabled', true);
            $("#Series").attr('disabled', true);
            $("#ItemCode").attr('disabled', true);
            GetOldData();
        }

        $(document).on('change', '#ParamCode', function (e) {

            $(this).removeClass('is-invalid');
        });
        
        $(document).on('change', '#Filler', function (e) {
            console.log("In filler")
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want you update the \"To Warehouse\" value for existing lines with this new value ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    Filler();
                }
            })
        });

        $(document).on('change', '#ToWhsCode', function (e) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want you update the \"From Warehouse\" value for existing lines with this new value ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    ToWhsCode();

                }
            })
        });

    });

    $(document).on('change', '#ParamCode, #DurationTypeCode, #Duration,#EffectiveDate', function (e) {

        $(this).removeClass('is-invalid');
    });

    $(document).on('click', '#btnBack', function (e) {

        window.history.back();
    });

    $(document).on('click', '#btnDuplicate', function (e) {
        DocNumOnLoad();
        $(this).attr('disabled', true);
        isDuplicate = true;
        //  ValidateForm();
    });

    $(document).on('click', '#ListBtnDelete', function () {
        $(this).closest('tr').remove();
    })

    

    
    $(document).on('click', '#ListBtnAddFile', function (e) {



        var html = `  <tr class="rowItemDetail align-items-center itm">

                                                                                    <td>
                                                                                        <input readonly type="file" id="selectedFile" class="position-absolute d-none form-control form-control-sm">
                                                                                        <input id="selectedFilePath" class="form-control form-control-sm">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input readonly id="selectedFileName" class="form-control form-control-sm">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input readonly id="selectedFileDate" type="date" class="form-control form-control-sm">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <button id="btnbrowseFile" type="button" class="btn btn-light-primary font-weight-bold btn-sm"> <i class="la la-plus"></i> Browse </button>

                                                                                    </td>
                                                                                   <td>
                                                                            <a id = "ListBtnDelete" class="btn btn-bold btn-sm btn-light-danger">
                                                                            <i class="la la-trash"></i> X
                                                                           </a>
                                                                           </td>

                                                                                </tr> `;

        $('#kt_repeater_3 tbody').append(html);
    });

    $(document).on('click', '#ListBtnAddd', function (e) {
       //$('.FromWarehouse').select2("destroy"); 

        RowIndex +=1;
        var html = `
             
                                                                                                
                                                                                    <tr class="rowItemDetail align-items-center itm" >
                                                                                    <td style="display:none;">
                                                                                        <input id="BaseRef" name="BaseRef" readonly class="form-control form-control-sm NotReq">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td style="display:none;">
                                                                                        <input id="BaseEntry" name="BaseEntry" readonly class="form-control form-control-sm NotReq">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td style="display:none;">
                                                                                        <input id="BaseLine" name="BaseLine" readonly class="form-control form-control-sm NotReq">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="input-group">
                                                                                            <input id="ItemCode" name="ItemCode" type="text" class="form-control form-control-sm" placeholder="Item No." aria-describedby="basic-addon2">
                                                                                            <div id="Itemno" class="input-group-append">
                                                                                                <span class="input-group-text">
                                                                                                    <i class="la la-search"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input id="ItemName" name="ItemName" class="form-control form-control-sm"  type="text">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>

                                                                                    <td>
                                                                                        <div class="input-group">
                                                                                                    <select class="form-control FromWarehouse" name="Warehouse"  id="Warehouse">
                                                                                                  `+ WareHouseData + `
                                                                                            </select> 
                                                                                        </div>


                                                                                    </td>
                                                                                             <td>
                                                                                                   <div class="input-group">

                                                                                                <div id="ListbtnSelectBatch" class="input-group-append d-none">
                                                                                                    <span class="input-group-text">
                                                                                                        <i class="la la-warehouse"></i>
                                                                                                    </span>
                                                                                                </div>
                                                                                                <input id="onHand" name="onHand" class="form-control form-control-sm" readonly type="number">
                                                                                            </div>
                                                                                                <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                            </td>

                                                                                    <td>
                                                                                                <select class="form-control Warehousedata ToWarehouse" name="WhsCode" id="WhsCode">
                                                                                              `+ WareHouseData + `
                                                                                            </select>
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td> 
                                                                                    <td>
                                                                                            <input class="form-control form-control-sm" id="QTY" name="QTY"  type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                      <td class="d-none">
                                                                                        <input class="form-control form-control-sm NotReq" id="ItemCost" name="ItemCost" type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td>
                                                                                       <select class="form-control" name="UomEntry" id="UomEntry"> </select><input id="UomCode" name="UomCode" class="position-absolute d-none"/>
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td> 
                                                                                    <td class="d-none">
                                                                                        <input readonly class="form-control form-control-sm NotReq" id="BaseQty" name="BaseQty"  type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                    <td class="d-none">
                                                                                        <input readonly class="form-control form-control-sm NotReq" id="OpenQty" name="OpenQty"  type="number">
                                                                                        <div id="ErrorMsg" class="error invalid-feedback">This field is required.</div>
                                                                                    </td>
                                                                                         <td>
                                                                                        <a id = "ListBtnDelete" class="btn btn-bold btn-sm btn-light-danger">
                                                                                        <i class="la la-trash"></i> X
                                                                                       </a>
                                                                                       </td>
                                                                                </tr>
        `;
        $('#kt_repeater_1 tbody').append(html);
       

        $('#ListParameters tr:last-child').find('#Warehouse').val($('#Filler').val()).trigger('change');
        $('#ListParameters tr:last-child').find('#WhsCode' ).val($('#ToWhsCode').val()).trigger('change');
        InitializeWarehouseSelect2Event($('#ListParameters tr:last-child'));
        
    });
    $(document).on('mouseover', '.FromWarehouse , .ToWarehouse', function (e) {
        
        $(this).select2();
        $(this).focus();
    });
    
    
    
    
    $(document).on('change', '#UomEntry', function (e) {

        let UomCode = $(this).find("option:selected").text();
        console.log($(this).closest('tr').find("#UomCode"));
        $(this).closest('tr').find("#UomCode").val("" + UomCode + "");

    });


    $(document).on('keypress', '#Duration,#EffectiveDate', function (e) {

        $(this).removeClass('is-invalid');
    });

    $(document).on('change', '#DocDate,#DocNum', function (e) {

        $(this).removeClass('is-invalid');
    });

    $(document).on('click', '#btnSave', function (e) {

        $('#btnSave').addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $('#btnSave').attr('disabled', true);

        ValidateForm();
    });
    $(document).on('keypress', '#CardCode,#DocNum,#CardName,#DocDate,#NumAtCard,#DocDue,#TaxDate,#ItemCode,#VatGroup,#GroupNum,#DocCur', function (e) {

        $(this).removeClass('is-invalid');
    });


    //================== Post Data Working =====================//

    $(document).on('click', '#btnSave', function (e) {

        $('#btnSave').addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $('#btnSave').attr('disabled', true);

        ValidateForm();
    });

    $(document).on('click', '#btnSaveData', function (e) {

        $(this).addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $(this).attr('disabled', true);

        if (ValidateData("HeaderForm") ) 
        {       
                if(ValidateListData("ListParameters .itm"))
                {
                    if (ValidateBatches("ListParameters .itm")) {

                        FormData();
                    }
                    else {
                        $(this).removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                        $(this).attr('disabled', false);
                        toastr.warning("Cannot add row without complete selection of batch/serial numbers !");
                    }
                }
            else {
                $(this).removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                $(this).attr('disabled', false);
            }
        }
        else {
            $(this).removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
            $(this).attr('disabled', false);
        }
    });


    function FormData() {
        var data =
        {
            HeaderData: getJsonObj("HeaderForm"),
            ListItems: getJsonObjListKeyName("ListParameters .itm"),
            ListAttachment: getJsonObjList("ListParameters3 .itm"),
            FooterData: getJsonObj("FooterData"),
            Batches: SelectedBatches
            //BaseType : BaseType
        }
       //console.log(data);
       PostData(data);


    } 


     function PostData(formData) 
    {                  
        return $.ajax({
            url: '/InventoryTransferRequest/AddInventoryTransferRequest',
            dataType: 'json',
            type: 'POST',

             data: { formData: JSON.stringify(formData)},

            success: function (result) 
            {
                console.log(result);
                if (result.isInserted) {
                    toastr.success(result.message);

                    setTimeout(
                        function () 
                        {

                            $('#btnSaveData').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                            $('#btnSaveData').attr('disabled', false);

                        }, 800);
                    setTimeout(function () {
                        window.history.back();
                    }, 800);


                }

                if (!(result.isInserted)) {
                    toastr.error(result.message);
                    $('#btnSaveData').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $('#btnSaveData').attr('disabled', false);

                }

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {

        });
    }


    function GetOldData() {

        $.ajax({
            url: 'InventoryTransferRequest/GetOldData',
            type: 'GET',
            dataType: 'json',
            async: false,
            data: { ItemID: OldId },
            success: function (data) {

                let HeaderData = JSON.parse(data.headerData);

                $.each(HeaderData[0][0], function (key, value) {



                    if ($("#" + key).is(':checkbox') || $(this).is(':radio')) {
                        if (value == 'Y') {
                            $("#" + key).prop('checked', true);

                        }
                        else {

                            $("#" + key).prop('checked', false);

                        }
                    }
                    else if ($("#" + key).attr('type') === 'date') {
                        $("#" + key).val(moment(value).format('yyyy-MM-DD'));

                    }
                    else {

                        if (key == "CntctCode") {


                            GetContactPersons($("#CardCode").val());
                            $("#CntcCode").select2().val(value).trigger("change");


                        }
                        else if (key == "DocTotal") {
                            $("#TotalBeforeDiscount").val(value)
                        }
                        else if (key == "SaleOrderNo") {
                            $("#SalesOrderCode").val(value)
                        }
                        else {
                            $("#" + key).val(value);
                        }
                    }







                });
                //Row Data
                let RowData = JSON.parse(data.rowData);

                //$.each(RowData[0][0], function (key, value) {
                //console.log(RowData);
                let j = 0;
                $.each(RowData[0], function (key, value) {

                    if (j == 0) {

                        $("#ItemCode").val(this.ItemCode);
                        $("#ItemName").val(this.Dscription);
                        $("#Warehouse").val(this.FromWhsCod);
                        $("#WhsCode").val(this.WhsCode);
                        $("#QTY").val(this.Quantity);
                        $("#UomEntry").html(`<option value"` + this.UomEntry + `">` + this.UomCode + `</option>`);

                        $.when(GetWareHouseQty(this.ItemCode, this.FromWhsCod)).done(function (OnHand) {

                            $("#onHand").val(OnHand);


                        });


                    }
                    else {
                        //AddWarehouseRowData(this);
                        $('#ListBtnAddd').trigger('click');
                        InitializeWareHouseData();
                        $('#ListParameters tr:last-child').find("#Warehouse").html(WareHouseData);
                        $('#ListParameters tr:last-child').find("#WhsCode").html(WareHouseData);

                        $('#ListParameters tr:last-child').find("#ItemCode").val(this.ItemCode);
                        $('#ListParameters tr:last-child').find("#ItemName").val(this.Dscription);
                        $('#ListParameters tr:last-child').find("#Warehouse").val(this.FromWhsCod);
                        $('#ListParameters tr:last-child').find("#WhsCode").val(this.WhsCode);
                        $('#ListParameters tr:last-child').find("#QTY").val(this.Quantity);
                        $('#ListParameters tr:last-child').find("#UomEntry").html(`<option value"` + this.UomEntry + `">` + this.UomCode + `</option>`);
                        $.when(GetWareHouseQty(this.ItemCode, this.FromWhsCod)).done(function (OnHand) {

                            $('#ListParameters tr:last-child').find("#onHand").val(OnHand);


                        });

                    }
                    j += 1;


                });

                $("#Filler").trigger('change');
                $("#ToWhsCode").trigger('change');
                $("#CntcCode").trigger('change');



            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });
    }
</script>
