@{
    ViewBag.title1 = "Item Master Data / ";
    ViewBag.title2 = "Add";
    ViewData["Title"] = "ItemMasterDataMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model iSOL_Enterprise.Models.RoleModels

@using Microsoft.AspNetCore.Http
@using iSOL_Enterprise.Models.Inventory

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <!-- MyStart -->
    <!-- Render Body <Start> -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">

        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            Add Details
                            <i class="mr-2"></i>
                            <!-- <small class="">try to scroll the page</small> -->
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <a onclick="Back_his()" class="btn btn-light-primary font-weight-bolder mr-2">
                            <i class="ki ki-long-arrow-back icon-sm"></i>Back
                        </a>
                        <div class="btn-group">

                            <button type="button" class="btn btn-primary font-weight-bolder" id="btnSaveData">
                                <i class="ki ki-check icon-sm"></i>Save
                            </button>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Form-->
                    <form class="form" id="kt_form">


                        <input type="hidden" value="@Context.Session.GetString(" Name")" id="sessionName" />
                        <input type="hidden" value="@Context.Session.GetString(" Email")" id="sessionEmail" />
                        <input type="hidden" value="@Context.Session.GetString(" RoleCode")" id="UserRoleCode" />
                        <input type="hidden" value="@Context.Session.GetString(" DepartmentCode")"
                            id="_DepartmentCode" />

                        <input type="hidden" value="@Context.Request.Query[" Id"]" id="Guid" />
                        <input type="hidden" value="@Context.Request.Query[" Source"]" id="PageGuid" />
                        <input type="hidden" value="@Context.Request.Query[" DocType"]" id="DocType" />
                        <input type="hidden" value="@Context.Request.Query[" DOM"]" id="DOMStatus" />

                        <input type="hidden" value="@Context.Session.GetInt32(" UserId")" id="_UserId" />
                        <style>





                        .BatchTableContainer {
                            max-height: 330px;
                            /* margin-bottom: 10px;*/
                            overflow-x: hidden;
                            overflow-y: scroll;
                            -webkit-overflow-scrolling: touch;
                            /*border: 1px solid lightgrey;*/
                        }

                        .scrollbar-ripe-malinka::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                            background-color: #F5F5F5;
                            border-radius: 10px;
                        }

                        .scrollbar-ripe-malinka::-webkit-scrollbar {
                            width: 0.5rem;
                            background-color: #F5F5F5;
                        }

                        .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                            background-image: -webkit-linear-gradient(330deg, #808080 0%, #808080 100%);
                            background-image: linear-gradient(120deg, #808080 0%, #808080 100%);
                        }
                        .select2-container {
                            width : inherit !important;
                        }
                            .mr2 {
                                margin: 0% 2% 0% 2%;
                                /*width: 5%;*/
                            }

                            .cr2 {
                                margin: 0% 1% 0% 0%;
                                width: 5%;
                            }

                            .wdth {
                                width: 250% !important;
                            }

                            /*tr > th {
                                
                                                                                text-align: left;
                                                                                width: 50px !important;
                                                                            }
                                                                            table {
                                                                               display: table-cell;
                                                                                text-align:center;
                                                                                overflow-x: auto;
                                                                                white-space: nowrap;
                                                                            }
    
                                                                            tr > td {
                                                                                text-align: center;
                                                                                width: 5% !important;
                                                                            }*/
                            #kt_repeater_1 {
                                border-collapse: collapse;
                                width: 100%;
                                overflow-x: scroll;
                                display: block;
                            }

                        .border_grey {
                            border: 1px solid lightgray !important;
                            background-color: white !important;
                        }

                        .checkbox.checkbox-success > input:checked ~ span {
                            background-color: #1BC5BD !important;
                            border: white !important;
                        }

                            .ScrollThead,
                            .ScrollTbody {
                                display: inline-block;
                            }

                            .ScrollTbody {
                                overflow-y: auto;
                                overflow-x: hidden;
                                max-height: 600px;
                            }

                            .ScrollTbody td,
                            .ScrollThead th {
                                min-width: 160px;
                                max-width: 160px;
                                height: 40px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .ScrollTbody2 td,
                            .ScrollThead2 th {
                                min-width: 100px;
                                max-width: 160px;
                                height: 40px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        </style>
                        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--begin::Portlet-->
                                    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile"
                                        id="kt_page_portlet">

                                        <div class="kt-portlet__body">
                                            <form autocomplete="off" role="form" class="kt-form"
                                                id="F_@Context.Request.Query" name="F_@Context.Request.Query["Source"]">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="kt-section kt-section--first">
                                                            <div class="kt-section__body">


                                                                <div id="HeaderForm">
                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label
                                                                                class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Code </label>
                                                                            <select id="MySeries"
                                                                                class="form-control form-control-sm col-md-3">
                                                                                        @foreach (iSOL_Enterprise.Models.Series.tbl_NNM1 i in ViewBag.MySeries)
                                                                                        {                                                                                            
                                                                                                <option guid="@i.BeginStr" value="@i.Series">@i.SeriesName </option>                                                                                            
                                                                                        }
                                                                                        <option value="-1" selected>Manual</option>   
                                                                            </select>
                                                                                    &nbsp;&nbsp;                                                                            
                                                                            <input type="text" id="CardCode" class="col-md-5 form-control form-control-sm">
                                                                                    &nbsp;&nbsp;
                                                                            <select id="CardType" class="form-control form-control-sm col-md-3">
                                                                                        
                                                                                        <option value="C" selected>Customer</option>   
                                                                                        <option value="S" selected>Vendor</option>   
                                                                                        <option value="L" selected>Lead</option>   
                                                                            </select> 
                                                                            
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-5"> SAP Series </label>
                                                                            <select id="Series"
                                                                                class="form-control form-control-sm col-md-3">
                                                                                        @foreach (iSOL_Enterprise.Models.Sale.tbl_series i in ViewBag.Series)
                                                                                        {                                                                                            
                                                                                                <option value="@i.Series">@i.SeriesName </option>                                                                                            
                                                                                        }
                                                                                        <option value="-1" selected>Manual</option>   
                                                                            </select> 
                                                                        </div>
                                                                        
                                                                    </div>


                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label
                                                                                class="mr-2 d-flex text-center pt-2 col-md-4">Name
                                                                            </label>
                                                                            <input type="text" id="CardName"
                                                                                class="col-md-8 form-control form-control-sm">
                                                                            
                                                                        </div>

                                                                    </div>


                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label
                                                                                class="mr-2 d-flex text-center pt-2 col-md-4">Foreign
                                                                                Name </label>

                                                                            <div id="ErrorMsg"
                                                                                class="error invalid-feedback">This
                                                                                field is required.</div>
                                                                                <input type="text" id="CardFName"
                                                                                class="col-md-8 form-control form-control-sm NotReq">
                                                                            <div id="ErrorMsg"
                                                                                class="error invalid-feedback">This
                                                                                field is required.</div>
                                                                        </div>

                                                                        
                                                                    </div>


                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label
                                                                                class="mr-2 d-flex text-center pt-2 col-md-4"> Group </label>
                                                                            <select id="GroupCode" class="form-control form-control-sm col-md-8" asp-items="@ViewBag.Groups">                                                                                                                                                                
                                                                            </select>
                                                                            <div id="ErrorMsg"
                                                                                class="error invalid-feedback">This
                                                                                field is required.</div>
                                                                        </div>

                                                                    </div>


                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label
                                                                                class="mr-2 d-flex text-center pt-2 col-md-4">Currency</label>
                                                                                <select id="DocCur" class="form-control form-control-sm "> </select>
                                                                            <div id="ErrorMsg"
                                                                                class="error invalid-feedback">This
                                                                                field is required.</div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="form-group row justify-content-between">

                                                                           <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">Federal Tax Id</label>
                                                                        
                                                                            <input type="text" id="LicTradNum" class="col-md-8 form-control form-control-sm NotReq">
                                                                            
                                                                               <div id="ErrorMsg"
                                                                                class="error invalid-feedback">This
                                                                                field is required.</div>
                                                                                </div>

                                                                    </div>

                                                                </div>

                                                                <div
                                                                    class="kt-separator kt-separator--space-md kt-separator--border-dashed">
                                                                </div>



                                                                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
                                                                    role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab"
                                                                            href="#kt_tabs_General"
                                                                            role="tab">General</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                            id="tabAccounting"
                                                                            href="#kt_tabs_ContactPersons"
                                                                            role="tab">Contact Persons</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                       href="#kt_tabs_Addresses" role="tab">
                                                                            Addresses</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                            href="#kt_tabs_PaymentTerms"
                                                                            role="tab">Payment Terms</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                            href="#kt_tabs_PaymentRun"
                                                                            role="tab">Payment Run</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                       href="#kt_tabs_Accounting"
                                                                            role="tab">Accounting</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                            href="#kt_tabs_Properties"
                                                                            role="tab">Properties</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                       href="#kt_tabs_Remarks"
                                                                            role="tab">Remarks</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" 
                                                                        href="#kt_tabs_attachment" 
                                                                            role="tab">Attachment</a>
                                                                    </li>

                                                                </ul>

                                                                <div class="tab-content">

                                                                <div class="tab-pane active scrollbar mt-5"
                                                                     id="kt_tabs_General" role="tabpanel">

                                                                    <div class="form-group row justify-content-between">
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Tel 1
                                                                            </label>
                                                                            <input type="text" id="Phone1" class="col-md-8 form-control form-control-sm">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Contact Person
                                                                            </label>
                                                                            <input type="text" id="CntctPrsn" class="col-md-8 form-control form-control-sm">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                        
                                                                    

                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Tel 2
                                                                            </label>
                                                                            <input type="text" id="Phone2" class="col-md-8 form-control form-control-sm">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                ID No.2
                                                                            </label>
                                                                            <input type="text" id="AddID" class="col-md-8 form-control form-control-sm">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Mobile Phone
                                                                            </label>
                                                                            <input type="text" id="Cellular" class="col-md-8 form-control form-control-sm">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Unified Federal Tax ID
                                                                            </label>
                                                                        <input type="text" id="VatIdUnCmp" class="col-md-8 form-control form-control-sm">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Fax
                                                                            </label>
                                                                            <input type="text" id="Fax" class="col-md-8 form-control form-control-sm NotReq">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Company Registration No
                                                                            </label>
                                                                            <input type="text" id="RegNum" class="col-md-8 form-control form-control-sm NotReq">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group row justify-content-between " >

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                E-Mail
                                                                            </label>
                                                                            <input type="text" id="E_Mail" class="col-md-8 form-control form-control-sm NotReq">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Remarks
                                                                            </label>
                                                                            <textarea id="Notes" rows="3" class="col-md-8 form-control form-control-sm NotReq"></textarea>

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Website
                                                                            </label>
                                                                            <input type="text" id="IntrntSite" class="col-md-8 form-control form-control-sm NotReq">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>



                                                                    </div>

                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Shipping Type
                                                                            </label>
                                                                        <select id="ShipType" class="form-control form-control-sm col-md-8" asp-items="@ViewBag.ShipType">                                                                               
                                                                        </select>

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Sales Employee
                                                                            </label>
                                                                            <select id="SlpCode" class="form-control form-control-sm col-md-8" asp-items="@ViewBag.SalesEmployee">                                                                            
                                                                            </select>

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                 </div>

                                                                <div class="form-group row justify-content-between">

                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Password
                                                                        </label>
                                                                        <input type="password" id="Password" class="col-md-8 form-control form-control-sm NotReq">

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Factoring Indicator
                                                                        </label>
                                                                        <input type="text" id="Indicator" class="col-md-4 form-control form-control-sm NotReq">
                                                                        <select id="Name" class="form-control form-control-sm col-md-4 NotReq" asp-items="@ViewBag.Name">
                                                                            <option value=""> </option>
                                                                        </select>
                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="form-group row justify-content-between">

                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Business Partner Project
                                                                        </label>
                                                                        <select id="ProjectCod" class="form-control form-control-sm col-md-8 NotReq" asp-items="@ViewBag.ProjectCode">
                                                                            <option value=""> </option>
                                                                        </select>

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            BP Channel Code
                                                                        </label>
                                                                        <select id="ChannlBP" class="form-control form-control-sm col-md-8 NotReq" asp-items="@ViewBag.BusinessPartners">
                                                                            <option value=""> Select Business Partner </option>
                                                                        </select>

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="form-group row justify-content-between">

                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Industry
                                                                        </label>
                                                                        <select id="IndustryC" class="form-control form-control-sm col-md-8 NotReq" asp-items="@ViewBag.Industry">
                                                                            <option value=""> </option>
                                                                        </select>

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Technician
                                                                        </label>
                                                                        <select id="DfTcnician" class="form-control form-control-sm col-md-8 NotReq" asp-items="@ViewBag.Technician">
                                                                            <option value=""> </option>
                                                                        </select>

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="form-group row justify-content-between">

                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Type Of Business
                                                                        </label>
                                                                        <select id="CmpPrivate" class="form-control form-control-sm col-md-8">
                                                                            <option value="C"> Company</option>
                                                                            <option value="I"> Private</option>
                                                                            <option value="G"> Government</option>
                                                                            <option value="E"> Employee</option>
                                                                        </select>

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 d-flex">
                                                                        <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                            Territory
                                                                        </label>
                                                                        <select id="Territory" class="form-control form-control-sm col-md-8 NotReq" asp-items="@ViewBag.Territory">
                                                                            <option value=""> </option>
                                                                        </select>

                                                                        <div id="ErrorMsg"
                                                                             class="error invalid-feedback">
                                                                            This
                                                                            field is required.
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <u><span class="font-weight-bold">Personal Data Protection</span></u>
                                                                
                                                                    <div class="form-group row justify-content-between">

                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                Alias Name
                                                                            </label>
                                                                            <input type="text" id="AliasName" class="col-md-8 form-control form-control-sm NotReq">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 d-flex">
                                                                            <label class="mr-2 d-flex text-center pt-2 col-md-4">
                                                                                GLN
                                                                            </label>
                                                                        <input type="text" id="GlblLocNum" class="col-md-8 form-control form-control-sm NotReq">

                                                                            <div id="ErrorMsg"
                                                                                 class="error invalid-feedback">
                                                                                This
                                                                                field is required.
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                <div class="form-group row justify-content-between">

                                                                    <div class="col-md-2 radio-inline">

                                                                        <label class="radio radio-success">
                                                                            <input id="ActivevalidFor" type="radio" checked name="validFor" class="ml-2" value="Y">
                                                                            <span></span> Active
                                                                        </label>
                                                                    </div>

                                                                    <div class="col-md-10 row" id="ActivevalidFor1">
                                                                        <label class="mt-2 mr-3">From</label>
                                                                        <input type="date" id="validFrom" class="d mr-5 col-md-2 form-control form-control-sm NotReq">

                                                                        <label class="mt-2 mr-3">To</label>
                                                                        <input type="date" id="validTo" class="d col-md-2 form-control form-control-sm NotReq">
                                                                    </div>



                                                                </div>

                                                                <div class="form-group row justify-content-between">

                                                                    <div class="col-md-2 radio-inline">

                                                                        <label class="radio radio-success">
                                                                            <input id="InActivevalidFor" type="radio" name="validFor" class="ml-2" value="N">
                                                                            <span></span> InActive
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-md-10 row d-none" id="InActivevalidFor1">
                                                                        <label class="mt-2 mr-3">From</label>
                                                                        <input type="date" id="frozenFrom" class="d mr-5 col-md-2 form-control form-control-sm NotReq">

                                                                        <label class="mt-2 mr-3">To</label>
                                                                        <input type="date" id="frozenTo" class=" d col-md-2 form-control form-control-sm NotReq">

                                                                        <label class="mt-2 mr-3 ml-2">Remarks</label>
                                                                        <input type="text" id="FrozenComm" class="col-md-3 form-control form-control-sm NotReq">
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                    
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            

                                            </form>
                                        </div>
                                    </div>
                                    <!--end::Portlet-->
                                </div>
                            </div>
                        </div>
                    <button type="button" style="display:none;" id="myCustomerbtn" onclick="generateWareHouseListTable()" data-toggle="modal" data-target="#myWarehouseModal"></button>
                    <div class="modal fade" id="myWarehouseModal" role="dialog">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="card-title">List Of Warehouses</h5>
                                    <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <!-- General Form Elements -->
                                    <div class="container">
                                        <div class="card-body">
                                            <!--begin: Datatable-->
                                            <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <!--begin: Datatable-->
                                                        <table class="table table-striped- table-bordered table-hover table-checkable " id="MyWareHouseListTable">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>

                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Datatable-->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Card-->

        </div>
        <!--end::Entry-->
    </div>
    <!-- Render Body <End> -->
    <script src="~/Assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/Assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/Assets/js/scripts.bundle.js"></script>
    <script src="~/js/myjson_validate.js"></script>
    
    <script>
        //var vatGroupData = "";
        var ItemServiceType = '1';
        var isInventryItem = true; 
        var isSalesItem = true; 
        var isPurchaseItem = true; 
        var isManageInvByWareHouse = true; 
        var isEdit = false;
        var OldItemId = null;


        const boxes = document.querySelectorAll('.d');

        for (const box of boxes) {
            box.value = new Date().toJSON().slice(0, 10);
        }

        
        $(document).on("input", "input[type='number']", function () {
            var value = parseFloat(this.value);
            if (isNaN(value)) {
                return;
            }
            var decimalCount = (this.value.split(".")[1] || []).length;
            if (decimalCount > 3) {
                this.value = value.toFixed(3);
            }

            if (this.value.length > 10) {
                this.value = this.value.slice(0, 10);
            }
        });

        $(document).on('click', '#PropertiesSelectAll', function (e) {

                $("#Properties tr").each(function () {
                    $(this).find(":checkbox").prop("checked", true);
                });
        });
        
        $(document).on('click', '#PropertiesClearAll', function (e) {

                    $("#Properties tr").each(function () {
            $(this).find(":checkbox").prop("checked", false);

                });
        }); 
        
        $(document).on('change', '#ManBtchNum', function (e) {
                    let ManBtchNum = $('#ManBtchNum').val();
                    if(ManBtchNum == "N" || ManBtchNum == "Y"){
                        $('#MyMngMthd').removeClass('d-none');
                    }else{
                        $('#MyMngMthd').addClass('d-none');
                    }        
        });

        $(document).on('click', '#ActivevalidFor,#InActivevalidFor', function (e) {
        //console.log("$('input[name=validFor]:checked').val()",$('input[name=validFor]:checked').val());
        if ($('input[name=validFor]:checked').val() === 'Y') {
            $('#ActivevalidFor1').removeClass('d-none');
            $('#InActivevalidFor1').addClass('d-none');

            }else if($('input[name=validFor]:checked').val() === 'N') {
            $('#ActivevalidFor1').addClass('d-none');
            $('#InActivevalidFor1').removeClass('d-none');

            }
        });        
        
        $(document).on('click', '#btnBack', function (e) {
            window.history.back();
        });

        $(document).on('click', '#ListBtnDelete', function () {
            $(this).closest('tr').remove();
        });
        
        $(document).on('change', '#MySeries', function () {


        if ($(this).val() == -1) {

            $('#ItemCode').attr("readonly", false);
            $('#ItemCode').val("");
        }
        else {
            $('#ItemCode').attr("readonly", true);

            return $.ajax({
                url: '/ItemMasterData/GetNewItemCode',
                dataType: 'json',
                type: 'Get',

                data: { Series: $(this).val() },

                success: function (result) {

                    if (result.success) {

                        $('#ItemCode').val(result.itemCode);

                    }

                    if (!(result.success)) {
                        toastr.error("An error occured while getting ItemCode");

                    }

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log(errorMessage);
                }

            }).done(function (result) {

            });
        }
    })
  
    </script>
<script src="~/viewjs/itemmasterdata/inventory_tab.js"></script>

<script>
    $(document).ready(function() {
             
            
             GetCurrencydata();

    });

    $(document).on("keydown", "input", function () {
        $(this).removeClass('is-invalid');
    });
    
    $(document).on('change' ,'#InvntItem' , function(){
        
            if( $(this).is(':checked'))
            {
                $("#InvntryUom").removeClass("NotReq");
                isInventryItem = true;
            }
            else
            {
                $("#InvntryUom").addClass("NotReq");
                isInventryItem = false;
            }
    });
    
    $(document).on('change' ,'#SellItem' , function(){
         
            if( $(this).is(':checked') )
            {
                $("#SalUnitMsr").removeClass("NotReq");
                isSalesItem =  true;
            }
            else
            {
                $("#SalUnitMsr").addClass("NotReq");
                isSalesItem =  false;
            }

    });
    
    $(document).on('change' ,'#PrchseItem' , function(){
        
            if( $(this).is(':checked') )
            {
                $("#BuyUnitMsr").removeClass("NotReq");
                isPurchaseItem = true;
            }
            else 
            {
                $("#BuyUnitMsr").addClass("NotReq");
                isPurchaseItem = false;
            }
    });
    
    $(document).on('change' ,'#ByWh' , function(){

            if( $(this).is(':checked') )
            {
                $("#kt_tabs_inventoryData_Warehouses").removeClass("d-none");
                isManageInvByWareHouse = true;
            }
            else 
            {
                $("#kt_tabs_inventoryData_Warehouses").addClass("d-none");
                isManageInvByWareHouse = false;
            }
    })

    $(document).on('change', '#CstGrpCode', function (e) {

        $("#CstGrpCode1").val($(this).val());  
                    
    });    

    $(document).on('change', '#VatGroupSa', function (e) {

        $("#VatGroupSa1").val($('#VatGroupSa option:selected').attr("guid"));
                          
                    
    });         

    $(document).on('change', '#VatGroupPu', function (e) {
        

        $("#VatGroupPu1").val($('#VatGroupPu option:selected').attr("guid"));

    });

    $(document).on('click', '#btnSaveData', function (e) {

       // console.log(getJsonObjList("ListParameters tr"));

        var isValid = false;
        
        $(this).addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $(this).attr('disabled', true);
        if ( ValidateData("HeaderForm") ) 
        {
             
            
            if (isPurchaseItem) 
            {
                  isValid =  ValidateData("kt_tabs_PurchasingData");
            }
            if (isSalesItem) 
            {
                  isValid =  ValidateData("kt_tabs_SalesData");
            }
            if (isInventryItem) 
            {
                  isValid =  ValidateData("kt_tabs_InventoryData");
            }
            if (isInventryItem && isManageInvByWareHouse) 
            {
                  isValid =  ValidateListData("ListParameters itm");
            }    
            if(isValid) 
            {
                $.when( 
             
                    isValid = ValidateData("kt_tabs_PlanningData"),
                    isValid = ValidateData("kt_tabs_ProductionData"),
                

                ).then(function() 
                {
                    if(isValid)
                    FormData();
                    else
                    {
                        $("#btnSaveData").removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                        $("#btnSaveData").attr('disabled', false);
                        toastr.warning("Validations Error");
                    }
                })
            }
            else {
                $("#btnSaveData").removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                $("#btnSaveData").attr('disabled', false);
                toastr.warning("Validations Error");
            }
        }
        else 
        {
            $(this).removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
            $(this).attr('disabled', false);
        }

    });

    function FormData() 
    {
            
        var data =
        {
            HeaderData: getJsonObj("HeaderForm"),
            
            Tab_General : getJsonObj("kt_tabs_General"),
            Tab_PurchasingData : isPurchaseItem == true ? getJsonObj("kt_tabs_PurchasingData") : null, 
            Tab_SalesData :  isSalesItem == true ? getJsonObj("kt_tabs_SalesData") : null,
            Tab_InventoryData : isInventryItem == true ? getJsonObj("kt_tabs_InventoryData") : null,
            Tab_InventoryData_WareHouseList: isInventryItem == true && isManageInvByWareHouse == true ? getJsonObjList("ListParameters tr") : null,
            Tab_PlanningData : getJsonObj("kt_tabs_PlanningData"),
            Tab_ProductionData : getJsonObj("kt_tabs_ProductionData"),
            Tab_Properties : getJsonObj("kt_tabs_Properties"),
            OldItemId: OldItemId
                  
        }
        
       
       PostData(data);

    
    }

    function PostData(formData) 
    {
      
        
      
        return $.ajax({
            url: '/ItemMasterData/AddItemMasterData',
            dataType: 'json',
            type: 'POST',
            
             data: { formData: JSON.stringify(formData)},

            success: function (result) 
            {
                console.log(result);
                if (result.isInserted) {
                    toastr.success(result.message);

                    setTimeout(
                        function () 
                        {
                            $('#btnSaveData').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                            $('#btnSaveData').attr('disabled', false);
                        }, 800);
                    setTimeout(function () {
                        window.history.back();
                    }, 800);


                }

                if (!(result.isInserted)) {
                    toastr.error(result.message);
                    $('#btnSaveData').removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $('#btnSaveData').attr('disabled', false);

                }

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {

        });
    }



    function GetOldData() 
    {

        $.ajax({
            url: 'ItemMasterData/GetItemOldData',
            type: 'GET',
            dataType: 'json',
            async : false,
            data: { ItemID: OldItemId },
            success: function (data) 
            {
                
                let OITMData = JSON.parse(data.oitmData);  
                
                $.each(OITMData[0][0], function (key, value) {
                   
                    if ($("#" + key).is(':checkbox') || $(this).is(':radio'))
                    {
                         if(value == 'Y') {
                         $("#" + key).prop('checked', true);
                         
                         }
                         else
                         {
                           
                            $("#" + key).prop('checked', false);
                            
                         }
                    }
                    else if($("#" + key).attr('type') === 'date') 
                    {
                        $("#" + key).val(moment(value).format('yyyy-MM-DD'));
                        
                    }
                    else
                    {
                         $("#" + key).val(value);
                    }

                });
               //Add Warehouse Data
                let j = 0;
                $.each((data.whsData), function () 
                {
                    if(j == 0) 
                    {
                        
                        $("#WhsCode").val(this.whscode);

                        $("#WhsName").val(this.whsname);

                        if(this.locked == 'Y')
                        $("#Locked").prop('checked', true);
                        else
                        $("#Locked").prop('checked', false);

                        $("#MinStock").val(this.minStock);

                        $("#MaxStock").val(this.maxStock);

                        $("#MinOrder").val(this.minOrder);

                        if (!(this.isEditable)) {
                            $("#WhsCode").attr('disabled', true);
                            $("#WhsName").attr('disabled', true);
                            $("#Locked").attr('disabled', true);
                            $("#MinStock").attr('disabled', true);
                            $("#MaxStock").attr('disabled', true);
                            $("#MinOrder").attr('disabled', true);
                            $("#ByWh").attr('disabled', true);
                       }

                    }
                    else{
                        AddWarehouseRowData(this);
                    }
                    j+=1;
                    

                });
                //EditTable
                
                
                if (!(data.isEditable.value.purchaseItem)) {
                    $("#PrchseItem").attr('disabled', true);
                    $("#ItmsGrpCod").attr('disabled', true);
                }
                if (!(data.isEditable.value.salesItem)) {
                    $("#SellItem").attr('disabled', true);
                    $("#ItmsGrpCod").attr('disabled', true);
                }
                if (!(data.isEditable.value.inventoryItem)) {
                    $("#InvntItem").attr('disabled', true);
                    $("#ItmsGrpCod").attr('disabled', true);
                }
                
                let PrchseItem = document.getElementById("PrchseItem");
                let SellItem = document.getElementById("SellItem");
                let InvntItem = document.getElementById("InvntItem");

                var event = new Event("change", { bubbles: true });
                PrchseItem.dispatchEvent(event);
                SellItem.dispatchEvent(event);
                InvntItem.dispatchEvent(event);

                $("#btnSaveData").attr('disabled', false);
                
                
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });
    }
</script>
    <!-- MyStart -->

